.wrapper {
  width: 100%;
  max-width: var(--layout-max-width);
  padding: var(--space-md) var(--space-lg);
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-lg);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.beta {
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
  color: var(--ink-soft);
}
