.control {
  display: flex;
  gap: var(--space-sm);
  padding: var(--space-sm);
}

.control[data-orientation="row"] {
  flex-direction: row;
}

.control[data-orientation="column"] {
  flex-direction: column;
}
