.grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: var(--space-sm);
}

.rowControls {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin-block-start: var(--space-sm);
}

.colControls {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline-start: var(--space-sm);
}

.actions {
  display: flex;
  gap: var(--space-sm);
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actionButton {
  width: 100%;
}

.corner {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-sm);
  background-color: var(--accent);
}
